/* test stuff out */
/* text design */
body {
  background-color: #eeeeee;
  padding: 0;
  margin: 0
}

h1 {
  color: #222831;
  font-family: Futura, sans-serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #00adb5;
  font-family: Futura, sans-serif;
  text-align: left;
}

h3 {
  color: #393e46;
  font-family: Futura, sans-serif;
  font-weight: lighter;
  text-align: center;
}

h4 {
  color: #D0D0D0;
  font-family: Futura, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 15px
}

/* User Name for Book Page inside Letter */
h5{
  font-family: Futura, sans-serif;
  font-weight: normal;
  font-size:16px;
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* Date for Book Page */
h6{
  font-family: Futura Light, sans-serif;
  font-weight: normal;
  font-size:16px;
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* Light Font */
h7{
  font-family: Futura light, sans-serif;
  font-weight: normal;
  font-size:18px;
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 25px;
}

p {
  background-color: #eeeeee;
}

/* components design */
div {
  color: #393e46;
  font-family: Futura, sans-serif
}

a {
  text-decoration: underline;
  text-align: right;
  color: #393e46;
}

ul {
  list-style-type: none;
  padding: 10px;
  text-align: right
}

input{
  font-family: Futura, sans-serif;
  font-size: 16px;
  border: none;
  background-color: white;
  padding: 8px 0px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input[type=button],
input[type=submit] {
  width: 0%;
  font-family: Futura, sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #00adb5;
  border: none;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  margin: 8px 0;
  cursor: pointer
}

.bar {
  margin-left: 20%;
  margin-right: 20%;
}

.button {
  width: 450px;
  background-color: #00adb5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  text-align:center;
  font-family: Futura, sans-serif;
  font-size: 20px;
}

.comment_section{
  background-color: #eeeeee
}

/* letter design */
.comment{
  background-color: white;
  border-radius: 10px;
  margin-left:20%;
  margin-right:20%;
  padding: 20px;
  font-family: Futura light, sans-serif;
  min-width: 60%
}

/* navigation bar */
.topnav {
  overflow: hidden;
  background-color: #222831;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eeeeee;
  color: #222831;
}

.topnav a.active {
  float: left;
}

.topnav .icon {
  display: none;
}

/* login/signup styles */
.login{
  border-radius: 5px;
  padding: 10px;
  background-color: #eeeeee;
  margin-bottom: 20px;
}

.login-box{
  padding-left:25%;
  padding-right:25%;
}

.login-form{
    padding: 5%;
    border-radius: 10px;
    background-color:white;
}

.login-form .btnSubmit{
    font-weight: 600;
    background-color: #00adb5;
    width: 100%;
}

/* overlay background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

/* overlay for new book receivers */
.modal {
    width: 600px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -250px;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
}

/* overlay for writing a letter */
.modal2 {
    width: 1000px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -300px;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
}

/* overlay_add_book */
.modal3 {
    width: 600px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -270px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
}

/* overlay_add_book_done */
.modal4 {
    width: 600px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
}

/* overlay_report */
.modal5 {
    width: 400px;
    height: 104px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -52px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
}

/* overlay_login */
.modal6 {
    width: 500px;
    height: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -225px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
}

/* overlay_signup */
.modal7 {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
}

/* overlay_add_new_receive */
.modal8 {
    width: 550px;
    height: 340px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -275px;
    margin-top: -170px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
}

/* For User Page */
/* Float four columns side by side */
.card-col {
  float: left;
  width: 20%;
  padding: 10px;
}

.card-col-2 {
  float: left;
  width: 33%;
  padding: 10px;
}

.card-row {
  margin-left:12%;
  margin-right:12%
}

.card-row-2 {
  margin-left:0;
  margin-right:0
}

/* Clear floats after the columns */
.card-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 10px;
  height: 220px;
}

.card-2 {
  padding: 16px;
  text-align: center;
  background-color: none;
  color: #eeeeee;
  border-radius: 10px;
  height: 180px;
}


.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

* {
  box-sizing: border-box;
}

/* Full-width textarea */
/* Add styles to the form container */
.form-container {
  max-width: 100%;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
  resize: none;
  min-height: 250px;
  font-size: 14px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #eeeeee;
  outline: none;
}

form.bookbar input[type=text] {
  padding: 18px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

form.bookbar button {
  float: left;
  width: 20%;
  padding: 18px;
  background: #00adb5;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

form.bookbar button:hover {
  background: #222831;
}

form.bookbar::after {
  content: "";
  clear: both;
  display: table;
}

/* Mid Size Adjustment */
@media screen and (min-width: 800px) and (max-width: 1100px) {
  .card-col {
    width: 25%;
  }

  .card-row {
    margin-left: 8%;
    margin-right: 8%;
  }
}

/* Mid_2 Size Adjustment */
@media screen and (min-width: 600px) and (max-width: 800px) {

  .card-col {
    width: 33%;
  }

  .card-row {
    margin-left: 8%;
    margin-right: 8%;
  }
}

/* Small Size Adjustment */
@media screen and (max-width: 600px) {

/* overlay for new book receivers */
  .modal {
      width: 400px;
      height: 560px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -200px;
      margin-top: -280px;
      background-color: white;
      border-radius: 10px;
      padding: 2%;
      text-align: left;
      z-index: 11; /* 1px higher than the overlay layer */
  }

/* overlay for writing a letter */
  .modal2 {
      width: 460px;
      height: 660px;
      top: 50%;
      left: 50%;
      margin-left: -230px;
      margin-top: -330px;
      padding: 2%;
  }

/* overlay_add_book */
   .modal3 {
       width: 460px;
       height: 560px;
       top: 50%;
       left: 50%;
       margin-left: -230px;
       margin-top: -280px;
       padding: 2%;
   }

   /* overlay_add_book_done */
   .modal4 {
       width: 450px;
       height: 440px;
       top: 50%;
       left: 50%;
       margin-left: -225px;
       margin-top: -220px;
       padding: 10px;
   }


  /* overlay_login */
  .modal6 {
      width: 450px;
      height: 450px;
      top: 50%;
      left: 50%;
      margin-left: -225px;
      margin-top: -225px;
      padding: 2%;
  }

  /* overlay_signup */
  .modal7 {
      width: 450px;
      height: 550px;
      top: 50%;
      left: 50%;
      margin-left: -225px;
      margin-top: -275px;
      padding: 2%;
  }

  /* overlay_add_new_receive */
  .modal8 {
      width: 450px;
      top: 50%;
      left: 50%;
      margin-left: -225px;
      padding: 10px;
  }

  a.button {
    display: block;
    position: relative;
    min-width:80%
  }

  .card-col {
    width: 50%;
  }

  .card-row {
    margin-left: 8%;
    margin-right: 8%;
  }

/* navigation bar */
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .bar{
    padding: none;
    align: center;
    margin-left: 5%;
    margin-right: 5%
  }

  .comment {
    margin-left:5%;
    margin-right:5%;
    width:90%;
  }

  .glyphicon {  margin-bottom: 10px;margin-right: 10px;}

  small {
  display: block;
  line-height: 1.428571429;
  color: #999;
  }

}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay_new_receiver {
  display: none
}

#overlay_finish {
  display: none
}

#overlay_letter {
  display: none
}

#overlay_add_book{
  display: none
}

#overlay_add_book_done{
  display: none
}

#overlay_report{
  display: none
}

#overlay_signup{
  display: none
}

#overlay_add_new_receive{
  display: none
}

/* Smaller Size Adjustment for login box */
@media screen and (max-width: 800px){
  .login-box{
    padding-left:0;
    padding-right:0%
  }

.btnSubmit{
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Smaller Size Adjustment */
@media screen and (max-width: 800px){
  .login-box{
    padding-left:0;
    padding-right:0%
  }
}
