{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block title %} About {% endblock %}

{% block content %}
<!-- Main Body -->
<!-- Feel free to edit the text in this page -->
<p>
  <br>
  <div class="bar">
    <h1>About Paper Trail</h1>

    <br>
    <h2>What's Paper Trail? 🤓</h2>
    <h7> At Paper Trail, we want to transform your reading experience into a social adventure. Share a book with a friend, and follow its journey, one letter at a time. Before you put your favourite novella into the wild, share a note for readers to come: did the book challenge you, comfort you, or simply make you laugh? Here, we believe that the books we read shape our lives, and that your experience is valuable. Pass it on.  


    The idea of "six degrees of separation" says that each person is only six, or fewer, social connections away from one another. Who are you six degrees away from? Find out with Paper Trail. 
    
    </h7>
    <br>

    <h2>What's a Book ID? 🧐</h2>
    <h7>Each book that's shared on Paper Trail receives an unique
      Book ID. If you just recieved a book from your friend, don't forget to ask for the Book ID, so that you can access the book's personal, living profile. If you would like to
      share a book and get a Book ID, please click "Share a Book" on your profile. </h3>
    </h7>

    <h2>Still Confused? 🤨</h2>
    <h7>Check out our Sample page! There, you will
      see what a book page looks like, through the very first book uploaded on our platform. In the Book Profile, new readers can
      post letters, exchange insights and follow the journey of the book that the reader now has at hand. </h7>
    <br>
  </div>
  <br>
</p>
{% endblock %}
