{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block title %} About {% endblock %}

{% block content %}
<!-- Main Body -->
<!-- Feel free to edit the text in this page -->
<p>
  <br>
  <div class="bar">
    <h1>About Paper Trail</h1>

    <br>
    <h2>What's Paper Trail? 🤓</h2>
    <h7> At Paper Trail, we help you to Explore six
      degrees of connection through a book. Share a book with your friend throgh
      Paper Trail. Challenge your friend to read and share the book to one of
      their connections. Repeat the process until you get to the six degrees of
      connection. Paper Trail will help you to track your book along the way!
    </h7>
    <br>

    <h2>What's a Book ID? 🧐</h2>
    <h7>Each book that's shared on paper trail has an unique
      book ID. If you just recieved a book from your friend, ask for the book ID to load
      and type it to the home page to access the unique book page. If you would like to
      share a book and get a Book ID, please click share! </h3>
    </h7>

    <h2>Still Confused? 🤨</h2>
    <h7>Check out our sample page! At here, you will
      see what a book page looks like. Within the book page, new readers can
      post letters for exchanging insights. </h7>
    <br>
  </div>
  <br>
</p>
{% endblock %}
