{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block title %} Book {% endblock %}

{% block content %}

  <!-- login overlay-->
  <!-- Elena: If a new book receiver access to this website by using the website URL
  that their friend gives him/her, he/she should see this window. It is
  required to login to click the "I'm a new book receiver" button-->

  <!-- Elena: However, if a user is already loged in, make sure that this window
  does not appear. -->

  <!-- Elena: Feel free to move this login to a seperate page too. But make sure
  the overlay effect still works, and the user should only need to type in
  the website address once.-->

  <div id="overlay_login">
    <div class="overlay"></div>
    <div class="modal6">
      <div class="login-form">
        <h1>Login</h1>
        <form>
          <input type="text" class="login" placeholder="Username *" value="" />
          <input type="password" class="login" placeholder="Password *" value="" />
          <input type="button" class="btnSubmit" value="Login" style="padding: 10px; margin:0;" onclick="off_login()" />
          <div style="text-align: center; padding:40px">
            Haven't registered?
            <a onclick="on_signup()" style="cursor:pointer">
              Create an account </a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- signup overlay-->
  <!-- The user can also diractly signup here.  -->
  <div id="overlay_signup">
    <div class="overlay"></div>
    <div class="modal7">
      <div class="login-form">
        <h1>Create an Account</h1>
        <form>
          <input type="text" class="login" placeholder="Username *" value="" />
          <input type="password" class="login" placeholder="Password *" value="" />
          <input type="text" class="login" placeholder="Email *" value="" />
          <input type="button" class="btnSubmit" value="Create" style="padding: 10px; margin:0;" onclick="on_login()" />
          <div style="text-align: center; padding:40px">
            Already registered?
            <a onclick="on_login()" style="cursor:pointer">
              Sign In </a>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Book info -->
  <br><br>
  <h1>Milk and Honey</h1>
  <h3>Author: Rupi Kaur</h3>
  <h3>Shared by: Helena Mance</h3>

  <!-- two buttons -->

  <!-- New Reader Button -->
  <!-- Elena: This button should disappear when the user add the book to "my page" -->
  <div id="wrapper">
    <button class="button" onclick="on()" style=margin:10px>I'm a new book receiver 😀</button>
  </div>

  <!-- Finish Reading Button -->
  <!-- Elena: This button should disappear when the user add the letter -->
  <div id="wrapper">
    <button class="button" onclick="on_finish()" href="{{url_for('letter', bookid=bookid)}}" style=margin:10px>I've finished reading the book! 😎</button>
  </div>

  <br><br>

  <!-- book comment/letter section -->
  <div class="comment_section">
    <br>

    <!-- letter 1 -->
    <div class="comment">
      <h5>Elena Cai</h5> | <h6>January 15, 2021 </h6>
      <i class="fas fa-ellipsis-h" style="float:right; cursor:pointer" onclick="on_report()"></i>
      <!-- Elena: make sure this only links to reporting one letter  -->

      <hr>
      I’m very grateful that I received this book. When I saw this book,
      I didn't think it would bring me such a big touch. It was mailed to my
      home in a parcel. The black cover was written with simple five words:
      milk and honey. Milk and honey. It's that simple. What it is about is
      hard to say in one sentence. About love, about healing, about finding
      self, and about the meaning of life. Each page is a small poem, or a
      short essay. From suffering pain to self-healing, the author described
      her psychological journey with simple brush strokes, and also created a
      new impression of poetry. It reads very smoothly, but each sentence is
      meaningful.
      <br><br>
      <!-- Make sure to put two <br> when user change a line -->
      After reading this book for the first time, I felt that its
      text was really explicit. After half a while, I found that between the
      lines of text, the chants and shouts about love and life that the author
      wanted to convey, and that was too exaggerated.
    </div>
    <br>

    <!-- letter 2 -->
    <div class="comment">
      <h5>Simon Green</h5> | <h6>January 15, 2021 </h6>
      <i class="fas fa-ellipsis-h" style="float:right; cursor:pointer" onclick="on_report()"></i>
      <hr>
      I’m very grateful that I received this book. When I saw this book,
      I didn't think it would bring me such a big touch. It was mailed to my
      home in a parcel. The black cover was written with simple five words:
      milk and honey. Milk and honey. It's that simple. What it is about is
      hard to say in one sentence. About love, about healing, about finding
      self, and about the meaning of life. Each page is a small poem, or a
      short essay. From suffering pain to self-healing, the author described
      her psychological journey with simple brush strokes, and also created a
      new impression of poetry. It reads very smoothly, but each sentence is
      meaningful.
      <br><br>
      After reading this book for the first time, I felt that its
      text was really explicit. After half a while, I found that between the
      lines of text, the chants and shouts about love and life that the author
      wanted to convey, and that was too exaggerated.
    </div>
    <br>

    <!-- letter 3 -->
    <div class="comment">
      <h5>Helena Mance</h5> | <h6>Febrary 21, 2020 </h6>
      <i class="fas fa-ellipsis-h" style="float:right; cursor:pointer" onclick="on_report()"></i>
      <hr>
      To whom this book gets to:
      <br><br>
      Thanks for your curiosity. This book is a gift from my best friend to me
      on the topic of love. It has helped her get out of a breakup last summer,
      and I hope it may help you in whatever way it can. Whether you are in
      love, or enjoying being single, I wish the strength and hope of this book
      can enlighten you and empower you even more. Don’t forget to share this
      book after reading it.
      <br><br>
      Sending love,
      <br>
      Helena Mance
    </div>


    <!-- New Receiver Overlay -->
    <!-- This appears when the user clicks the new receiver button -->
    <div id="overlay_new_receiver">
      <div class="overlay"></div>
      <div class="modal">
        <div style="padding:10px; margin-top:20px; margin-bottom:10px">

          Hey Elena!

          <br><br>
          In the next two weeks, we challenge you to finish reading this book.
          When you are done with reading the book,
          click “I’m ready to share the book!”
          If you are confused,
          please visit our Home Page and get a deeper understanding of the challenge.

          <br><br>

          Now, we kindly ask you to confirm that you are the new receiver.
          Once you confirm, all the past readers will notice, and the book will
          be added to your personal page.
          <br><br>
          Enjoy the journey!

        </div>

        <div id="wrapper">
          <button class="button" onclick="off()" style=margin:10px>
            Confirm and begin 😄</button>
          <!-- Elena: When the user click this button, the button "I'm a new book
          receiver" should disappear. -->
        </div>

        <div id="wrapper">
          <button class="button" onclick="off()" style=margin:10px>
            Cancel 😔</button>
          <!-- Elena: When the user click this button, the button "I'm a new book
          receiver" should NOT disapper. -->
        </div>

      </div>
    </div>


    <!-- I finished reading Overlay -->
    <!-- This overlay appears when the user clicks "I finished reading the book" button -->
    <div id="overlay_finish">
      <div class="overlay"></div>
      <div class="modal">
        <div style="padding:10px; margin-top:20px; margin-bottom:10px">

          <h1 style="margin:0">Congrats 🎉</h1>

          <br><br>
          Now that you’ve finished reading the book,
          please write about your reflection on the book.
          Once you submited, mail the book to one of your friends to keep the
          challenge going.
          You are also encouraged to write a letter and place it into the book.

          <br><br>

          Note that your reflection cannot be changed once you submit.
          Click confirm if you are ready.
        </div>

        <div id="wrapper">
          <button class="button" onclick="on_letter()" style=margin:10px>
            Confirm and begin 😄</button>
        </div>

        <div id="wrapper">
          <button class="button" onclick="off_finish()" style=margin:10px>
            Cancel 😔</button>
          <!-- Elena: When the user click this button, the "I've finished reading
          the book" button should NOT disappear. -->
        </div>
      </div>
    </div>


    <!-- Letter Overlay -->
    <!-- This appears when the user clicks "Confirm and begin" to a write letter. -->
    <div id="overlay_letter">
      <div class="overlay"></div>
      <div class="modal2">
        <div style="padding:10px; margin-top:20px; ">

          <h1 style="margin:0">Your Letter 📃</h1>

          <br><br>
          Share you thoughts with past/future readers!
          What does the book inspire you to think about?
          <form class="form-container">
            <textarea placeholder="Type message.." name="msg" required></textarea>
          </form>

        </div>
        <div>
          <div id="wrapper">
            <a href="book_page.html" class="button" onclick="off_letter()" style="margin:8px; width: 300px">
              Done and Send 😄</a>
            <!-- Elena: When the user clicks this button, the letter should
            upload to the database, and the button of "I've finished reading
            the book!" should disapper. The letter should display in the
            book page. -->
          </div>
          <div id="wrapper">
            <button class="button" onclick="off_letter()" style="margin:8px; width:300px">
              Cancel 😔</button>
            <!-- Elena: When the user click this button, the "I've finished
            reading the book" button should NOT disappear. -->
          </div>
        </div>
      </div>
    </div>


    <!-- Report, Cancel -->
    <!-- Elena: This appears when the user clicks the report button (three dots),
    this should appear. Make sure that it links to an UNIQUE letter -->
    <div id="overlay_report">
      <div class="overlay"></div>
      <div class="modal5">
        <a onclick="off_report()" style="text-decoration:none">
          <div style="text-align:center; margin:15px; cursor:pointer; color: #EC4956">
            Report Inappropriate</div>
          <!-- Elena: When the user click this button, the report message should
          be sent to the data base, and the user should see the book page.  -->
        </a>

        <hr style="margin:0">
        <a onclick="off_report()" style="text-decoration:none">
          <div style="text-align:center; margin:15px; cursor:pointer">Cancel</div>
        </a>
      </div>
    </div>


    <script>
      // These are functions that display or closes the overlay notification windows.
      function on() {
        document.getElementById("overlay_new_receiver").style.display = "block";
      }

      function off() {
        document.getElementById("overlay_new_receiver").style.display = "none";
      }

      function on_finish() {
        document.getElementById("overlay_finish").style.display = "block";
      }

      function off_finish() {
        document.getElementById("overlay_finish").style.display = "none";
      }

      function on_letter() {
        document.getElementById("overlay_letter").style.display = "block";
      }

      function off_letter() {
        document.getElementById("overlay_letter").style.display = "none";
      }

      function on_report() {
        document.getElementById("overlay_report").style.display = "block";
      }

      function off_report() {
        document.getElementById("overlay_report").style.display = "none";
      }

      function on_login() {
        document.getElementById("overlay_signup").style.display = "none";
        document.getElementById("overlay_login").style.display = "block";
      }

      function off_login() {
        document.getElementById("overlay_login").style.display = "none";
      }

      function on_signup() {
        document.getElementById("overlay_signup").style.display = "block";
        document.getElementById("overlay_login").style.display = "none";
      }

      function off_signup() {
        document.getElementById("overlay_signup").style.display = "none";
      }
    </script>

{% endblock %}
