{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block title %} Main {% endblock %}

{% block content %}

<p>
  <div class="bar">
    <br>
    <h1>Paper Trail</h1>

    <h3>"A book read by a thousand different people is a thusand different books."
      - Andre Tarkovsky. </h3>

    <br><br>
    <h2>We Challenge You to Read, Reflect, and Share! </h2>
    <h3 style="text-align:left">Paper Trail is a letter sharing platform that transforms the lonesome reading experience into a social journey. We challenges the book lovers of the world to read a book that
      you always wanted to read, collect your reflections,
      and then share the book with someone in your network. A friend, a colleague, a crush, or a stranger. The choice is yours.</h3>

    <!-- Elena: Feel free to edit the text here. -->
    <img
      src="https://images.squarespace-cdn.com/content/v1/5a29de216957dab4049b897d/1587690248848-96BPEPZ76460ZCCP8723/ke17ZwdGBToddI8pDm48kIzN4wyeHCRGna8ObAkdGAYUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYwL8IeDg6_3B-BRuF4nNrNcQkVuAT7tdErd0wQFEGFSnKwsWVXmS1mWX-HywvgF8KWBPTOfKVsHhHENCxSfCSJg_8ZhyaIGnlcaXB-Tpx2PEw/process.png?format=2500w"
      alt="process" , width="100%" , style="padding-bottom:50px">

    <br><br>
    <h2>Explore Six Degrees of Connection Through a Book! </h2>
    <h3 style="text-align:left">According to Six Degrees of Separation (no, not the title of the Irish rock band The Script's hit single), everyone  is just six, or fewer, social connections away from one another. Granted, we want to stay as far as we want from each other right now, but jokes aside, imagine where your book could end up through your network? In the hands of a masked vigilante, your favourite singer, or maybe even, the gorgeous Prime Minister of New Zealand? Who knows! Paper Trail will help you to track your book along the way.</h3>

    <!-- Elena: Feel free to edit the text here. -->
    <img
      src="https://images.squarespace-cdn.com/content/v1/5a29de216957dab4049b897d/1587690267659-FDP4I2VW3IN7EPZHA7XU/ke17ZwdGBToddI8pDm48kHW7X2IM7lHrjoL4OVS-xxgUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYwL8IeDg6_3B-BRuF4nNrNcQkVuAT7tdErd0wQFEGFSnMti0gYjOLPVMHIb0DVbrfLAYag9SjYctldINorPEPAjwtUNvS_TQqaOU-48xu92Vw/six.png?format=2500w"
      alt"six degrees of connection", width="100%" , style="padding-bottom:50px" />

    <br><br>
    <h2>We build a webpage for each book that you share! </h2>
    <h3 style="text-align:left">Paper Trail gets you started with a Book Profile for each
      book that you share, so you can always track your book's status. On this page,
      you can read what other book recievers' have written. Check out our sample page
      to see what a book page looks like.</h3>
    <!-- Elena: Feel free to edit the text here -->

    </div>

  <!-- Elena: This should only appear for visitors that are not signed in.  -->
  <!-- add jinja if control to check if signed in-->
    <div id="wrapper">
      <a href="{{ url_for('login') }}" class="button" style=margin:10px>Signup/Login to Get Started!</a>
    </div>

</p>

{% endblock %}
