<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Paper Trail</title>
  <script src="https://kit.fontawesome.com/670e5e8eb8.js" crossorigin="anonymous"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <!-- <link rel="stylesheet" href="css/styles.css" /> -->

</head>

<body>

  <!--navigation bar-->
  <div class="topnav" id="myTopnav">
    <a href="index.html" class="active">Paper Trail</a>
    <a href="login.html">Login</a>
    <a href="about.html">About</a>
    <a href="sample.html">Sample</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  </div>

  <!--javascript-->
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>

  <!--Main code-->
  <p><br>
    <div class="bar">
      <h1>Paper Trail</h1>

      <h3>"A book read by a thousand different people is a thusand different books."
        - Andre Tarkovsky. </h3>

      <br><br>
      <h2>We Challenge You to Read, Reflect, and Share! </h2>
      <h3 style="text-align:left">Paper Trail challenges you to read a book that
        you always wanted to read, reflect along when reading the book,
        then share the book with one of your connections. </h3>

      <img src="images/process.png" alt="process" , width="100%" , style="padding-bottom:50px">

      <br><br>
      <h2>Explore Six Degrees of Connection Through a Book! </h2>
      <h3 style="text-align:left">Challenge your friend to read and share the book to one of
        their connections. Repeat the process until you get to the six degrees of
        connection. Paper Trail will help you to track your book along the way!</h3>

      <img src="images/six.png" alt"six degrees of connection", width="100%" , style="padding-bottom:50px" />

      <br><br>
      <h2>We build a webpage for each book that you share! </h2>
      <h3 style="text-align:left">Paper Trail helps you to build a page for each
        book that you share, so you can always track your book's status. On this page,
        you can read through all book recievers' letter. Check out our sample page
        to see what a book page looks like.</h3>

    </div>

    <div id="wrapper">
      <a href="login.html" class="button" style=margin:10px>Signup/Login to Get Started!</a>
    </div>

    <br><br>

    <!--footer-->
    <h4>©️2020 Paper Trail. All Rights Reserved.</h4>
  </p>

</body>

</html>
