{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block title %} Log In {% endblock %}

{% block content %}
  <!-- login -->
    <div style="margin:10%">
        <div class="login-box">
            <div class="login-form">
                <h1>Login</h1>
                <form method="POST">
                    <input type="text" class="login" placeholder="Username" name="username" required>
                    <input type="password" class="login" placeholder="Password" name="password" required>
                    <input type="submit" class="btnSubmit" value="Login" style="padding: 10px; margin:0;">
                    <div style="text-align: center; padding:40px">
                        Haven't registered?
                        <a href="{{ url_for('register')}}">
                          Create an account </a>
                    </div>
                </form>

                <!-- Flash message -->
                {% for message in get_flashed_messages() %}
                  <div class=flash>{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
