{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block title %} Register {% endblock %}

{% block content %}

  <!-- Signup -->
  <div style="margin:10%">
    <div class="login-box">
      <div class="login-form">
        <h1>Create an account</h1>
        <form method="POST">
            <input class="login" type="text" placeholder="Username" name="username" required />
            <input class="login" type="text" placeholder="Name" name="name" required />
            <input class="login" type="password"  placeholder="Password" name="password" required />
            <input class="login" type="email"  placeholder="Email" name="email"  required/>
            <input type="submit" class="btnSubmit" value="Create" style="padding: 10px; margin:0;" />
            <div style="text-align: center; padding:40px">
                Already registered? <a href="{{ url_for('login')}}">Sign In </a>
            </div>
        </form>

        <!-- Flash message -->
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}
