<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Paper Trail</title>
  <script src="https://kit.fontawesome.com/670e5e8eb8.js" crossorigin="anonymous"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <!-- <link rel="stylesheet" href="css/styles.css" /> -->

</head>

<body>

  <!--navigation bar-->
  <div class="topnav" id="myTopnav">
    <a href="index_signed_in.html" class="active">Paper Trail</a>
    <a href="index.html">Sign Out</a>
    <a href="about.html">About</a>
    <a href="sample.html">Sample</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  </div>

  <!--javascript-->
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>


  <!--main design-->

  <br> <br>
  <h1>Elena Cai</h1>
  <h3>3 Shared · 9 Recieved </h3>

  <!--Shared by me-->
  <div class="card-row">
    <br>
    <h2 style="padding-left:10px; color:#222831; margin:0"> Shared by me </h2>
    <a href="book_page.html">
      <div class="card-col">
        <div class="card">
          <h3 style="color:white">Milk and Honey</h3>
          <h6>Rupi Kaur</h6>
        </div>
      </div>
    </a>

    <a href="book_page.html">
      <div class="card-col">
        <div class="card">
          <h3 style="color:white">Milk and Honey</h3>
          <h6>Rupi Kaur</h6>
        </div>
      </div>
    </a>

    <a href="book_page.html">
      <div class="card-col">
        <div class="card">
          <h3 style="color:white">Milk and Honey</h3>
          <h6>Rupi Kaur</h6>
        </div>
      </div>
    </a>

    <a href="book_page.html">
      <div class="card-col">
        <div class="card">
          <h3 style="color:white">Milk and Honey</h3>
          <h6>Rupi Kaur</h6>
        </div>
      </div>
    </a>

    <a onclick="on_add_book_1()" style="cursor:pointer">
      <div class="card-col" >
        <div class="card" style="background-color:#eeeeee; border-style: dashed;
        border-color: #00adb5;">
        <br>
          <h3 style="color:#00adb5">Share a <br>Book</h3>
          <i class="fas fa-plus-circle fa-2x" style="color:#00adb5;
          "></i>
        </div>
      </div>
    </a>
  </div>


  <!--Shared by me-->
  <div class="card-row">
    <br><br>
    <h2 style="padding-left:10px; color:#222831; margin:0"> Shared with me </h2>
    <a href="book_page.html">
      <div class="card-col">
        <div class="card">
          <h3 style="color:white">Milk and Honey</h3>
          <h6>Rupi Kaur</h6>
        </div>
      </div>
    </a>

    <a href="book_page.html">
      <div class="card-col">
        <div class="card">
          <h3 style="color:white">Milk and Honey</h3>
          <h6>Rupi Kaur</h6>
        </div>
      </div>
    </a>

    <a href="book_page.html">
      <div class="card-col">
        <div class="card">
          <h3 style="color:white">Milk and Honey</h3>
          <h6>Rupi Kaur</h6>
        </div>
      </div>
    </a>

    <a href="book_page.html">
      <div class="card-col">
        <div class="card">
          <h3 style="color:white">Milk and Honey</h3>
          <h6>Rupi Kaur</h6>
        </div>
      </div>
    </a>

    <a href="book_page.html">
      <div class="card-col">
        <div class="card">
          <h3 style="color:white">Milk and Honey</h3>
          <h6>Rupi Kaur</h6>
        </div>
      </div>
    </a>

  <a onclick=on_new_receive() style="cursor:pointer">
    <div class="card-col">
      <div class="card" style="background-color:#eeeeee; border-style: dashed;
      border-color: #00adb5;">
      <br>
        <h3 style="color:#00adb5">Add a new <br>Receive</h3>
        <i class="fas fa-plus-circle fa-2x" style="color:#00adb5;"></i>
      </div>
    </div>
  </a>
</div>


<!-- overlay add book -->
<!-- Add Book -->
    <div id="overlay_add_book_1">
    <div class="overlay"></div>
    <div class="modal3">
      <div style="padding:10px; margin-top:20px; margin-bottom:10px">

      <h1 style="margin:0">Share a Book!</h1>

      <br><br>
      Share a book through Paper Trail and see it travels! Please prepare the
      basic information below, and then send the book to one of your connections.
      <br><br>

      <form action="/action_page.php">
        <label for="fname">Book Name:</label><br>
        <input type="text" style="background-color:#eeeeee; padding:10px; margin-bottom:10px; border-radius:5px" value=""><br>

        <label for="lname">Author Name:</label><br>
        <input type="text" style="background-color:#eeeeee; padding:10px; border-radius:5px" value=""><br><br>
      </form>

      <div id="wrapper">
        <button class="button" onclick="on_letter()" style=margin:10px>Next 😄</button>
      </div>

      <div id="wrapper">
        <button class="button" onclick="off_add_book_1()" style=margin:10px>Cancel 😔</button>
      </div>

    </div>
  </div>
</div>


<!-- Letter Overlay -->
<div id="overlay_letter">
    <div class="overlay"></div>
    <div class="modal2">
      <div style="padding:10px; margin-top:20px; ">

      <h1 style="margin:0">Your Letter 📃</h1>

      <br><br>
      Share you thoughts with past/future readers!
      What does the book inspire you to think about?
<form class="form-container">
<textarea placeholder="Type message.." name="msg" required></textarea>
</form>

    </div>
    <div>
      <div id="wrapper">
        <button class="button" onclick="on_done()" style="margin:8px; width:300px">Done 😄</button>
      </div>
      <div id="wrapper">
        <button class="button" onclick="off_letter()" style="margin:8px; width:300px">Cancel 😔</button>
      </div>

    </div>


    </div>
    </div>


<!-- overlay add book -->
<!-- Add Book -->
    <div id="overlay_add_book_done">
    <div class="overlay"></div>
    <div class="modal4">
      <div style="padding:10px; margin-top:20px; margin-bottom:10px">

      <h1 style="margin:0">Done🎉</h1>

      <br><br>
      All set! Now, share your book to one of your connection.
      Write down the webpage to access this challenge at
      papertrail.com/sa12138

      <br><br>

      The Book ID to this book is
      <h1 style="font-size:30px">SA12138</h1>

      <div id="wrapper">
        <button class="button" onclick="off_done()" style=margin:10px>OK 😄</button>
      </div>

    </div>
  </div>
</div>

<!-- overlay add new receive -->
<!-- Add Book -->
    <div id="overlay_add_new_receive">
    <div class="overlay"></div>
    <div class="modal8">
      <div style="padding:10px; margin-top:20px; margin-bottom:10px">

      <!--Book ID bar-->
        <h1>Paper Trail</h1>
        <form class="bookbar" action="/action_page.php" style="margin:auto;max-width:400px;">
          <input type="text" placeholder="Your Book ID..." name="search2" style="background-color:#eeeeee">
          <button type="submit"><i class="fa fa-paper-plane" onclick="off_new_receive"></i></button>
        </form>
        <h3><a href="about.html">Don't have a Book ID?</a></h3>

    </div>
  </div>
</div>

  <script>
  function on_add_book_1() {
    document.getElementById("overlay_add_book_1").style.display = "block";
  }

  function off_add_book_1() {
    document.getElementById("overlay_add_book_1").style.display = "none";
  }

  function on_letter() {
    document.getElementById("overlay_letter").style.display = "block";
    document.getElementById("overlay_add_book_1").style.display = "none";
  }

  function off_letter() {
    document.getElementById("overlay_letter").style.display = "none";

  }

  function on_done() {
    document.getElementById("overlay_add_book_done").style.display = "block";
    document.getElementById("overlay_letter").style.display = "none";
  }

  function off_done() {
    document.getElementById("overlay_add_book_done").style.display = "none";
  }

  function on_new_receive() {
    document.getElementById("overlay_add_new_receive").style.display = "block";
  }

  function off_new_receive() {
    document.getElementById("overlay_add_new_receive").style.display = "none";
  }

  </script>


  <!--footer-->
  <br><h4>©️2020 Paper Trail. All Rights Reserved.</h4>

</body>
</html>
